
html, body {
	min-height: 100%;
}


.wrapper {
    margin: 90px 0 0 0;
}

a.navbar-brand {
    font-weight: bold;
    color: black !important;
}

.btn {
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

.panel {
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4) !important;
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #00090C !important;
    border-bottom: 4px groove #FF0505 !important;
}

.alert-success {
    background-color: #0A441F;
    border-color: #0A441F;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
    color: #ffffff;
}

.alert-danger {
    background-color: #D81F01 !important;
    border-color: #D81F01 !important;
    color: #ffffff;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4) !important;
}

.panel-primary {
    border-color: transparent !important;
}


.navbar-default {
    /* background-color: #333333; */
    border-color: #222222;
    background: #ff0505;
    background: -moz-linear-gradient(left, #ff0505 1%, #ff0505 1%, #ff0505 9%, #ff0505 17%, #8f0222 30%, #000000 55%, #050000 100%) !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#ff0505), color-stop(1%,#ff0505), color-stop(9%,#ff0505), color-stop(17%,#ff0505), color-stop(30%,#8f0222), color-stop(55%,#000000), color-stop(100%,#050000)) !important;
    background: -webkit-linear-gradient(left, #ff0505 1%,#ff0505 1%,#ff0505 9%,#ff0505 17%,#8f0222 30%,#000000 55%,#050000 100%) !important;
    background: -o-linear-gradient(left, #ff0505 1%,#ff0505 1%,#ff0505 9%,#ff0505 17%,#8f0222 30%,#000000 55%,#050000 100%);
    background: -ms-linear-gradient(left, #ff0505 1%,#ff0505 1%,#ff0505 9%,#ff0505 17%,#8f0222 30%,#000000 55%,#050000 100%) !important;
    background: linear-gradient(to right, #ff0505 1%,#ff0505 1%,#ff0505 9%,#ff0505 17%,#8f0222 30%,#000000 55%,#050000 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0505', endColorstr='#050000',GradientType=1 ) !important;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

.btn-primary {
    color: #040000;
    background-color: #FF0505 !important;
    border-color: red !important;
	font-weight: bold;
}

.btn-primary:hover {
    color: #fff;
    background-color: #000000 !important;
    border-color: red !important;
}


i#panel-icon {
    margin: 0 10px 0 0;
}

.btn-info {
    color: #000000 !important;
}

.btn-warning {
    color: #060000 !important;
}


.input-sm {
    padding: 0px 12px !important;
}


body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
  
    background: rgb(184,225,252) !important;
    background: -moz-linear-gradient(top, rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))) !important;
    background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
    background: -o-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%) !important;
    background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ) !important;
}

i.fa.fa-asterisk {
    color: #FF0505;
    font-size: 8px;
    margin: 4px 0 0 3px;
}


.form-control:focus {
    border-color: #FF0505 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255, 5, 5, 0.56) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255, 5, 5, 0.56) !important;
}

p.legend {
    font-size: 10px;
    margin: 0 0 10px 258px;
}